* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
  }
  
  body {
      background: #E6E6E6;
      text-align: center;
      background-image: url("https://i.pinimg.com/originals/c6/32/b3/c632b3bc2ec8f30871d02bb21d3e29e2.jpg");
      color: white;
  }
  
  form {
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.85);
    font-size: 1.1em;
    width: 500px;
  }
  
  #description {
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
  }
  
  #submit {
    width: 70px;
    align-items: center;
  }
  
  #email-label, #number-label, #rampage, #select, #role, #comment {
    padding-top: 10px;
    font-weight: bold;
    color: rgb(253, 90, 90);
  }
  
  #name-label {
    font-weight: bold;
    color: rgb(253, 90, 90);
  }
  
  #submit {
    margin-top: 10px;
  }
  
  h1 {
    color: red;
    border-radius: 5%;
    border: outset 3px white;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(360deg, rgba(0,0,0,0.50), rgba(255, 255, 255,0.10))
  }
  
  #container-title {
    text-align: center;
  }
  
  